body {
  font-size: 16px;
  color: #000;
  background-color: #75cfb8;
  font-family: 'Andale Mono', monospace;
}

/** HEADER **/
#header-nav {
  color: #75cfb8;
  background-color: #ffc478;
  border-radius: 0;
  border: 0;
}

/** Dropdown menu **/
#collapsable-nav {
  background-color: #f0e5d8;
  text-align: center;
}

#collapsable-nav li {
  border-top: solid 1px;
}

#page-header {
  color: #ffc478;
}

#section-chicken, #section-beef, #section-sushi {
  background-color: #bbdfc8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

#menu-items {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}